html, body{
  padding: 0;
  margin: 0;
}
body{
  color: #272727;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
} 
h1, h2 {
  padding: 0 10%;
  margin: 0;
  color: #fff;
  font-weight: normal;
}
h1 {
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: none;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3.2em;
  text-transform: uppercase;
}
p {
  margin: 0.75em 0;
  line-height: 2;
}
.header{
  height: 230px;
  padding: 20px 0 70px 0;
  background: #2d6360 50% 0 no-repeat; /* old IE fallback */
  text-align: center;
}
.main{

}
.sidebar {
  background: #edf4f0;
  float: right;
  
}
.sidebar h3 {
  display: none;
}
.sidebar a {
  color: #607476;
  text-decoration: none;
}
  .sidebar a:hover, .sidebar a:focus {
    color: #49968e;
  }
.sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}


/* shared sidebar styling */
.design-selection ul, .zen-resources ul {
  margin: 0;
}
.design-selection li, .zen-resources li {
  float: left;
  width: 50%;
  padding: 1.5em 10%;
  border-top: solid 1px #d9e3dc;
  color: #c0cac3;
  font-style: italic;
}
  .design-selection li:hover, .design-selection li:focus {
       background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
   }
.design-selection li:nth-child(2n+1), .zen-resources li:nth-child(2n+1) {
  clear: left;
}
.design-selection .design-name, .zen-resources a, li.viewall a {
  display: block;
  margin-bottom: 0.25em;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.2em;
  font-style: normal;
  text-transform: uppercase;
  background-color: ;
}









