#foto{
   border-radius: 50%;
 }
.titulos{
   font-family: Montserrat;
   color: #FFC857 ;
 }
.textos{
  font-family: Montserrat;
  color: #ffffff;
  }
.links{
  color: #DB3A34;
}  
body{
  background-color: #323031;
}  