body {
  background-color: #cee2f1;
}
header {
  color: #fff;
  max-height: 20%;
  background-color: #5995DA;
}
aside {
  max-width: 20vw;
  width: 15vw;
  height: 100vw;
  float: right;
  display: flex;
  flex-flow: column wrap;

}
img {
  border-radius: 50%;
}
 section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  
}
#small1 {
  font-size: 70%;
}