html, body{
  padding: 0;
  margin: 0;
}
body{
  color: #40916c;
  background-color: #ffffff;
  font-family: Montserrat, sans-serif;
} 
a{
  text-decoration: none;
  color: #177e89;
} 
header{
  height: 230px;
  padding: 20px 0 70px 0;
  background: #2d6360 50% 0;
  text-align: center;
    
}
h1, h2 {
  padding: 0 10%;
  margin: 0;
  color: rgba(255,255,255,0.6);
  font-weight: normal;
}
h1 {
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: none;
  font-size: 3.2em;
  
}
h2 {
  display: block;
  padding-top: 5px;
  padding-bottom: 30px;
  border-top: none;
  color: rgba(255,255,255,0.6);
  font-size: 1.6em;
  font-style: italic;
}

#foto{
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;
}








