html, body{
  padding: 0;
  margin: 0;
}
body{
  color: #272727;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
} 
h1, h2 {
  padding: 0 10%;
  margin: 0;
  color: #fff;
  font-weight: normal;
}
h1 {
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: none;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3.2em;
  text-transform: uppercase;
}
p {
  margin: 0.75em 0;
  line-height: 2;
}
.header{
  height: 230px;
  padding: 20px 0 70px 0;
  background: #2d6360 50% 0 no-repeat; /* old IE fallback */
  text-align: center;
}
.main{

}
.side{
  display: block;
  margin-bottom: 0.25em;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.2em;
  font-style: normal;
  text-transform: uppercase;
  background-color: #272727;
}





